body{
	background: black;
}
.clock{
	color : #17D4ef;
	font-size: 40px;
	letter-spacing: 3px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}


 